<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="web/pyramid.css"> -->

        <style>
            .wrapper {
                text-align: center;
            }

            .solid {
                border-style: solid;
                width: 100px;
                height: 50px;
                display: inline-table;
                position: relative;
                margin-bottom: 10px;
                align-content:center;
            }
        </style>

        <script>
            function hideContents() {
                var x = document.getElementsByName("notShown");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.color = "white";
                }
            }

            function showAnswers() {
                var x = document.getElementsByName("notShown");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.color = "black";
                }
            }
        </script>
        <title>Numbers Pyramid</title>
    </head>

    <body onLoad="hideContents()">
        <div class="wrapper">
            {{ range $key, $value := .ReversePyramidData }}
                {{ if $value.cellBreak }}
                    <br clear="all" />
                {{ else }}
                    
                <div class="solid" id="{{ $value.cellId }}">
                <!--
                CellId: {{ $value.cellId }}
                CellHidden: {{ $value.cellHidden }}
                CellValue: {{ $value.cellValue }}
                CellBreak: {{ $value.cellBreak }}
                -->
                    {{ if $value.cellHidden }}
                        <p name="shown">
                    {{ else }}
                        <p name="notShown">
                    {{end}}
                        {{ $value.cellValue}}
                    </p>
                </div>
                {{ end}}
            {{ end }}
            <br clear="all" />
            <input type="button" name="show" onclick="showAnswers()" value="Show Answers"/>
    </div>
    </body>
</html>